*{
    padding: 0;
    margin: 0;
    font-family: 'jetbrains mono';
}
body{
    display: flex;
    justify-content: center;
    background: linear-gradient(-45deg, #2bbe6d, #56bdcf, #9c27b0);
    background-size: 400% 400%;
    animation: gradient-bg 15s ease infinite;
	position: fixed;
}


.container{
    background-color:rgba(240, 240, 240, 0.459);
    width: 80vw;
    box-shadow: 20px 20px 70px;
    border: 1px solid rgb(196, 196, 196);
    display:grid;
    border-radius: 10px;
    grid-template-columns: 4fr 2fr;
    padding: 50px;
    margin:30px;
}
.img{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.img-box img{
    max-width: 40vw;
    max-height: 50vw;
    border-radius: 5px;
}
.img input{
    display:none;
}
.img label{
    border: 1px solid black;
    padding:10px;
    cursor: pointer;
    margin: 20px;
    border-radius: 4px;
}

.filters{
    display:flex;
    flex-direction: column;
    justify-content: center;
}

.filters ul li{
    display:flex;
    flex-direction: column;
    margin: 30px;
    direction: ltr;
}

.filters ul li:last-child{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
ul label{
    margin:5px;
}

a, span{
    cursor:pointer;
    border: 1px solid black;
    border-radius: 4px;
    padding: 10px;
}

a, span, .img label{
    animation: off-light 1s;
    background-color: rgba(255, 255, 255, 0.322);
}
a:hover, span:hover, .img label:hover{
    animation: light 1s;
    background-color: #2bbe6d;
}


/*********** Baseline, reset styles ***********/
input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
    cursor: pointer;
    width: 17.5rem;
  }
  
  /* Removes default focus */
  input[type="range"]:focus {
    outline: none;
  }
  
  /******** Chrome, Safari, Opera and Edge Chromium styles ********/
  /* slider track */
  input[type="range"]::-webkit-slider-runnable-track {
    background-color: #f7f7f7;
    border-radius: 0.5rem;
    height: 0.5rem;
  }
  
  /* slider thumb */
  input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    margin-top: -4px; /* Centers thumb on the track */
    background-color: #b1aaaa;
    border-radius: 0.5rem;
    height: 1rem;
    width: 0.5rem;
  }
  
  input[type="range"]:focus::-webkit-slider-thumb {
    outline: 3px solid #b1aaaa;
    outline-offset: 0.125rem;
  }
  
  /*********** Firefox styles ***********/
  /* slider track */
  input[type="range"]::-moz-range-track {
    background-color: #f7f7f7;
    border-radius: 0.5rem;
    height: 0.5rem;
  }
  
  /* slider thumb */
  input[type="range"]::-moz-range-thumb {
    background-color: #b1aaaa;
    border: none; /*Removes extra border that FF applies*/
    border-radius: 0.5rem;
    height: 1rem;
    width: 0.5rem;
  }
  
  input[type="range"]:focus::-moz-range-thumb{
    outline: 3px solid #b1aaaa;
    outline-offset: 0.125rem;
  }






@keyframes light{
    from{background: rgba(255, 255, 255, 0.322);}
    to{background-color: #2bbe6d;}
}
@keyframes off-light{
    from{background: #2bbe6d;}
    to{background-color: rgba(255, 255, 255, 0.322);}
}


@keyframes gradient-bg {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@media screen and (max-width:350px){
    .container{
        display: grid;
        grid-template-columns: 1fr;
    }
}
